<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
    <title>Create Transaction</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-sm bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" th:href="@{/}">Inicio</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
             
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                 
                  
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/transacti/egreso}">Crear Egreso</a>
                  </li>
                
                 
                </ul>
                <span class="navbar-text">
                  <a class="nav-link" th:text="${hola}" th:href="@{/login}">User</a>
           </span>
              </div>

            </div>
          </nav>

        </nav>
        </header>

    <h1 class="text-center">Ingreso</h1>
    <!--
<form th:action="@{/transactionse}" th:method="post" th:object="${transac}">

    <label >ID</label>
    <input th:field="*{idm}" required type="number">
    <label >CONCEPT</label>
    <input th:field="*{concept}" required type="text">
    <label >AMOUNT</label>
    <input th:field="*{amount}"  required type="number">
    <label >TYPE AMOUNT</label>
    <input th:field="*{typeAmount}" required type="text">
    <label >USER</label>
    <input disabled type="number">
    <label >ENTERPRISE</label>
    <input disabled type="number">
    <label >CREATE DATE</label>
    <input th:field="*{createdat}" required type="date">
    <label >UPDATE DATE</label>
    <input th:field="*{updatedat}" required type="date">

    <button  type="submit">AGREGAR INGRESO</button>

</form> -->

    <div class="container-fluid p-5">


        <form th:action="@{/transactionse}" th:method="post" th:object="${transac}" class=" row g-3 needs-validation">

            <div class="col-md-4 position-relative">
                <label for="validationTooltipUsernam" class="form-label">ID</label>
                <input th:field="*{idm}" type="number" class="form-control" placeholder="145782656" id="validationTooltipUsernam" required>
                <div class="valid-tooltip">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 position-relative">
                <label for="validationTooltip02" class="form-label">CONCEPT</label>
                <input th:field="*{concept}" type="text" class="form-control" id="validationTooltip02" placeholder="Amazon" required>
                <div class="valid-tooltip">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 position-relative">
                <label for="validationTooltipUsername" class="form-label">AMOUNT</label>
                <input th:field="*{amount}" type="number" class="form-control" placeholder="145782656" id="validationTooltipUsername" required>
                <div class="valid-tooltip">
                    Looks good!
                </div>
            </div>

            <div class="col-md-3 position-relative">
                <label for="validationTooltip05" class="form-label">TYPE AMOUNT</label>

                <select th:field="*{typeAmount}" class="form-select" id="validationTooltip05" required>
                    <option th:value="positivo">Positivo</option>
                    <option th:value="negativo">Negativo</option>
                </select>

                <!-- <input th:field="*{role}" type="text" class="form-control" placeholder="cra 45 # 11-14" id="validationTooltip05" required>-->
                <div class="valid-tooltip">
                    Looks good!
                </div>
            </div>


            <div class="col-md-3 position-relative">
                <label for="validationTooltip0" class="form-label">CREATE DATE</label>
                <input th:field="*{createdat}" type="date" class="form-control"  id="validationTooltip0" required>
                <div class="valid-tooltip">
                    Looks good!
                </div>
            </div>

            <div class="col-md-3 position-relative">
                <label for="validationToolti" class="form-label">UPDATE DATE</label>
                <input th:field="*{updatedat}" type="date" class="form-control"  id="validationToolti" required>
                <div class="valid-tooltip">
                    Looks good!
                </div>
            </div>
            <div class="col-12 text-center">
                <button class="btn btn-primary " type="submit">AGREGAR INGRESO</button>
            </div>
        </form>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>