<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro User</title>
</head>
<body>

<h1>USER</h1>

<form th:action="@{/users}" th:method="post" th:object="${user}">
    <label>CEDULA</label>
    <input th:field="*{cedula}" type="number">
    <label>NAME</label>
    <input th:field="*{name}" type="text">
    <label>EMAIL</label>
    <input th:field="*{email}" type="text">
    <label>PROFILE</label>
    <input th:field="*{profile}" type="number">
    <label>ROLE</label>
    <input th:field="*{role}" type="text">
    <label>ENTERPRISE</label>
    <input th:field="*{enterprise}" type="number">
    <label>CONTRASEÑA</label>
    <input th:field="*{contra}" type="text">
    <label>REPETIR CONTRASEÑA</label>
    <input th:filed="contrar" type="text">

    <button type="submit">Agregar User</button>
</form>

</body>
</html>